@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
    background-color: grey;
}